body {
    text-align: center;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px #D50000;
    font-size: 40px;
}

img {
    border-radius: 50%;
    width: 100px;
}
p {
    font-size: 20px;
    color: crimson;
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}